<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TurkishCeltx.CeltxSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TurkishCeltx.CeltxSettings>
            <setting name="MainPath" serializeAs="String">
                <value>K:\Docs\TurkishCeltx\TurkishCeltx\Doc\</value>
            </setting>
            <setting name="TabSize" serializeAs="String">
                <value>3</value>
            </setting>
        </TurkishCeltx.CeltxSettings>
    </userSettings>
</configuration>